<footer class="footer">
  <div class="footer-inner">
    <div class="footer-top">
      <h6 class="ft-logo">
        <a href="#">
          <img src="assets/images/logo/logo.png" alt="스쿨모아 로고">
        </a>
      </h6>

      <div class="ft-sns-btn-grp">
        <button type="button" class="ft-sns-btn">
          <span class="txt-hidden">카카오톡</span>
          <img src="assets/images/ico/ico-ft-kakao.svg" alt="카카오톡 아이콘" class="ico ico-kakao">
        </button>

        <button type="button" class="ft-sns-btn">
          <span class="txt-hidden">페이스북</span>
          <img src="assets/images/ico/ico-ft-facebook.svg" alt="페이스북 아이콘" class="ico ico-facebook">
        </button>

        <button type="button" class="ft-sns-btn">
          <span class="txt-hidden">인스타그램</span>
          <img src="assets/images/ico/ico-ft-instagram.svg" alt="인스타그램 아이콘" class="ico ico-facebook">
        </button>

        <button type="button" class="ft-sns-btn">
          <span class="txt-hidden">블로그</span>
          <img src="assets/images/ico/ico-ft-blog.svg" alt="블로그 아이콘" class="ico ico-blog">
        </button>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="ft-nav-btn-grp">
        <a href="#" class="ft-nav-btn">서비스이용약관</a>
        <a href="#" class="ft-nav-btn">개인정보처리방침</a>
      </div>

      <div class="ft-info-list-grp">
        <span class="bold-txt">고객센터</span>
        <dl class="ft-info-list">
          <dt class="dt">연락처</dt>
          <dd class="dd">010-4807-8870</dd>
        </dl>
        <dl class="ft-info-list">
          <dt class="dt">이메일</dt>
          <dd class="dd">help@schoolmoa.com</dd>
        </dl>
      </div>

      <p class="ft-copyright">@Copyright Schoolmoa All rights reserved</p>
    </div>
  </div>
</footer>