<footer class="footer @@display">
  <div class="footer-inner">
    <div class="footer-cont01">
      <h6 class="logo">
        <a href="#">
          <img src="assets/images/logo-color.png" alt="">
        </a>
      </h6>

      <ul class="fnav-list-grp">
        <li class="fnav-list">
          <a href="#" class="fnav-link bold-text">요요인터렉티브</a>
        </li>

        <li class="fnav-list">
          <a href="#" class="fnav-link">서비스 이용약관</a>
        </li>

        <li class="fnav-list">
          <a href="#" class="fnav-link color-text">개인정보 처리방침</a>
        </li>

        <li class="fnav-list">
          <a href="#" class="fnav-link">기업소개</a>
        </li>

        <li class="fnav-list">
          <a href="#" class="fnav-link">지원하기</a>
        </li>
      </ul>
    </div>

    <div class="footer-cont02">
      <div class="info-copyright-wrap">
        <div class="info-wrap">
          <div class="company-info">
            <dl class="list">
              <dt>본사</dt>
              <dd>서울특별시 송파구 법원로 127 문정대명벨리온 208-210호</dd>
            </dl>

            <dl class="list">
              <dt>지사</dt>
              <dd>울산광역시 중구 종가로 406-21, 610호(복산동, 울산글로벌게임센터)</dd>
            </dl>

            <dl class="list list-space">
              <dt>TEL</dt>
              <dd>02-404-1306</dd>
            </dl>

            <dl class="list">
              <dt>Email</dt>
              <dd>info@yoyointeractive.com</dd>
            </dl>
          </div>

          <div class="sns-info">
            <ul class="sns-list-grp">
              <li class="sns-list">
                <a href="#" class="sns-link">SNS</a>
              </li>

              <li class="sns-list">
                <a href="#" class="sns-link">유튜브</a>
              </li>

              <li class="sns-list">
                <a href="#" class="sns-link">인스타그램</a>
              </li>

              <li class="sns-list">
                <a href="#" class="sns-link">블로그</a>
              </li>
            </ul>
          </div>
        </div>

        <p class="copyright">© Yoyointeractive Corp. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>