<header class="header">
  <div class="header-inner">
    <div class="header-left-wrap">
      <h1 class="hd-logo">
        <a href="#">
          <img src="" alt="스쿨모아 로고">
        </a>
      </h1>

      <div class="hd-nav-btn-grp">
        <a href="" class="hd-nav-btn">홈</a>
        <a href="" class="hd-nav-btn">쌤스킬</a>
        <a href="" class="hd-nav-btn">클래스</a>
        <a href="" class="hd-nav-btn">커뮤니티</a>
        <a href="" class="hd-nav-btn">마이클래스</a>
      </div>
    </div>

    <div class="header-btn-wrap">
      <button type="button" class="hd-btn">
        <span class="txt-hidden">검색하기</span>
        <img src="" alt="검색 아이콘" class="ico ico-search">
      </button>

      <button type="button">
        <span class="txt-hidden">알림</span>
        <img src="" alt="알림 아이콘" class="ico ico-alarm">
      </button>

      <button type="button">
        <span class="txt-hidden">공유하기</span>
        <img src="" alt="공유 아이콘" class="ico ico-share">
      </button>

      <button type="button">
        <span class="txt-hidden">장바구니</span>
        <img src="" alt="장바구니 아이콘" class="ico ico-cart">
      </button>

      <button type="button">
        <span class="txt-hidden">찜리스트</span>
        <img src="" alt="찜 아이콘" class="ico ico-like">
      </button>
    </div>
  </div>
</header>