<div class="header-wrap @@display">
  <header class="header @@header">
    <div class="inner">
      <h1 class="logo">
        <a href="index.html" class="logo-link">
          <img src="assets/images/logo-white.png" alt="" class="logo-white">
          <img src="assets/images/logo-color.png" alt="" class="logo-color">
        </a>
      </h1>

      <div class="nav-wrap">
        <include src="module/nav.html"></include>
      </div>

      <div class="opt-wrap">
        <ul class="opt-list-grp">
          <li class="opt-list opt-lang-btn-wrap">
            <button type="button" class="opt-btn">
              <img src="assets/images/icon/icon-lang-white.png" alt="" class="icon-white">
              <img src="assets/images/icon/icon-lang-black.png" alt="" class="icon-black">
            </button>

            <div class="opt-lang-grp-area">
              <div class="opt-lang-grp">
                <button type="button" class="btn">KOR</button>
                <button type="button" class="btn">ENG</button>
              </div>
            </div>
          </li>

          <li class="opt-list">
            <button type="button" class="opt-btn">
              <img src="assets/images/icon/icon-search-white.png" alt="" class="icon-white">
              <img src="assets/images/icon/icon-search-black.png" alt="" class="icon-black">
            </button>
          </li>

          <li class="opt-list">
            <button id="nav-open-btn" type="button" class="opt-btn">
              <img src="assets/images/icon/icon-hamburger-white.png" alt="" class="icon-white">
              <img src="assets/images/icon/icon-hamburger-black.png" alt="" class="icon-black">
            </button>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <include src="nav-page.html"></include>
</div>