<div class="myc-left-container">
  <!-- 수강생 정보 -->
  <div class="user-card">
    <figure class="thumbnail type-circle">
      <img src="assets/images/img-default.svg" alt="수강생 프로필 사진" class="thumbnail-img">
    </figure>

    <div class="card-content">
      <p class="card-name">닉네임을 설정하세요.</p>
      <span class="gray-txt">수강생</span>
    </div>
  </div>
  <!-- END 수강생 정보 -->

  <div class="myc-nav-btn-grp">
    <a href="main.html" class="myc-nav-btn">홈</a>
    <a href="myclass-main.html" class="myc-nav-btn @@mycnav01">대시보드</a>
    <a href="myclass-alarm.html" class="myc-nav-btn @@mycnav02">알림</a>
    <a href="myclass-class.html" class="myc-nav-btn @@mycnav03">클래스</a>
    <a href="myclass-pay-history.html" class="myc-nav-btn @@mycnav04">결제내역</a>
    <a href="myclass-setting-student.html" class="myc-nav-btn @@mycnav05">회원정보변경</a>
    <a href="#" class="myc-nav-btn @@mycnav06">로그아웃</a>
  </div>
</div>