<div>
  <!-- 수강생 정보 -->
  <div class="user-card">
    <figure class="thumbnail type-circle">
      <img src="" alt="수강생 프로필 사진" class="thumbnail-img">
    </figure>

    <div class="card-content">
      <p class="card-name">닉네임을 설정하세요.</p>
      <span class="gray-txt">수강생</span>
    </div>
  </div>
  <!-- END 수강생 정보 -->

  <div>
    <a href="#">홈</a>
    <a href="#">대시보드</a>
    <a href="#">알림</a>
    <a href="#">클래스</a>
    <a href="#">결제내역</a>
    <a href="#">회원정보변경</a>
    <a href="#">로그아웃</a>
  </div>
</div>