<div id="nav-page" class="nav-page">
  <div class="nav-container">
    <div class="nav-bg">
      <h2 class="nav-bg-ttl">
        <span>창의적 혁신의 흐름</span>
        <b class="bold-text">요요인터렉티브</b>
      </h2>
    </div>

    <div class="nav-content">
      <button id="nav-close-btn" type="button" class="nav-close-btn">
        <img src="assets/images/icon/icon-close.png" alt="">
      </button>

      <img src="assets/images/img-symbol.png" alt="" class="img-symbol">

      <include src="module/nav.html"></include>

      <div class="opt-wrap">
        <button type="button" class="opt-set-btn">
          <img src="assets/images/icon/icon-admin.png" alt="">
        </button>
      </div>
    </div>
  </div>
</div>