.admin-login-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(123deg, rgba(20, 153, 202, 0.69) 2.76%, #FFF 90.51%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-login-container {
  max-width: 1687px;
  margin: 0 auto;
  width: 90%;
  height: 80%;
  min-height: 750px;
  max-height: 1080px;
  border-radius: 51px;
  background: rgba(255, 255, 255, 0.30);
  box-shadow: -3px 3px 66px 21px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-wrap {
  width: 100%;
  max-width: 568px;
  text-align: center;

  .logo-img {
    width: 100%;
    max-width: rem(407);
    margin-bottom: rem(82);
  }

  .submit-btn {
    @include button-reset;

    margin-top: rem(45);
    max-width: 101px;
    background-color: #1499CA;
    border-radius: 20px;
    overflow: hidden;

    img {
      vertical-align: bottom;
    }
  }
}

.login-form-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 27px;

  .icon {
    width: 100%;
    max-width: 65px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  .lf-inp {
    width: 100%;
    font-size: rem(24);
    border: 0;
    padding: 0 rem(50);
    outline: none;
    height: rem(72);
    border-radius: 80px;
    background-color: #fff;
    box-shadow: 0px 1px 11px -1px rgba(0, 0, 0, 0.20);
  }

  .lf-inp::placeholder {
    color: rgba(117, 117, 117, 0.50);
  }
}

.login-opt {
  text-align: right;
  font-size: 20px;
  font-weight: 500;
  color: #161e43;
}