.admin-board-write-page {
  padding: rem(250) 0;

  .inner {
    max-width: 1320px;
    margin: 0 auto;
    width: 90%;
  }

  .board-write-container {
    margin-bottom: rem(67);
  }
}

.adbw-ttl {
  width: 100%;
  font-size: rem(48);
  font-weight: 300;
  border: 1px solid #b9babd;
  padding: 26px rem(46);
  line-height: 1.3;
  margin-bottom: 28px;
}

.board-write-container {
  width: 100%;
  border: 1px solid #b9babd;
}

.bwrite-item-wrap {
  width: 100%;
  padding: rem(75) rem(46);
  border-bottom: 1px solid #b9babd;

  &:last-child {
    border-bottom: 0;
  }
}

.bwrite-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: rem(37);

  &:last-child {
    margin-bottom: 0;
  }

  .label {
    display: inline-block;
    width: 100%;
    max-width: 100px;
    margin-right: 10px;
    flex-shrink: 0;
    font-size: rem(23);
    font-weight: 500;
    padding-top: rem(23);
  }

  .inp-content {
    width: 100%;
  }

  .inp-content-lg {
    max-width: 1010px;
  }

  .inp-content-md {
    max-width: 600px;
  }

  .inp-content-select {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;

    .custom-select {
      width: 100%;
      max-width: 240px;
    }
  }

  .selected-option-wrap {
    width: 100%;

    .selected {
      width: 100%;
      display: none;
    }

    .category-grp {
      margin-left: 30px;
    }

    .inp {
      max-width: 600px;
    }
  }
}

.editor-area {
  width: 100%;
  height: 500px;
  background-color: #eaeaea;
}