@import "../utility/variable";
@import "../utility/function";
@import "../utility/mixin";

.cart-list-page {
  padding: 83px 0 200px;

  .title-wrap {
    margin-bottom: 44px;
  }

  .ment-box {
    margin-bottom: 28px;
  }

  .cart-tbl {
    width: 100%;
    border-bottom: 1px solid #CBD4E1;

    .cell {
      text-align: center;
    }

    .cell.type-left {
      text-align: left;
    }

    .cell.type-right {
      text-align: right;
    }

    .cell:nth-child(1) {
      width: 45%;
    }

    .cell:nth-child(2) {
      width: 23%;
    }

    .cell:nth-child(3) {
      width: 21%;
    }

    .cell:nth-child(4) {
      width: 11%;
    }
  }

  .cart-tbl-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #CBD4E1;
    padding: 10px 24px;
    color: #64748B;
    gap: 10px;

    .cell {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.14px;
      line-height: 1.5;
    }
  }

  .cart-tbl-body {
    .list-card {
      border-bottom: 1px solid #E2E8F0;
    }
  }

  .cart-tbl-tail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    gap: 15px;

    .left-txt {
      font-size: 18px;
      font-weight: 700;
      color: #27364b;
      letter-spacing: -0.18px;
    }

    .right-txt {
      margin-left: auto;
      font-size: 24px;
      letter-spacing: -0.24px;
      line-height: 1.4;
      font-weight: 600;
    }

    .color-txt {
      color: #2563EB;
      font-weight: inherit;
    }
  }

  .apply-btn {
    display: flex;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 80px;
  }
}

@include media ($web-lg) {
  .cart-list-page {
    padding: 50px 0 130px;

    .inner {
      width: 90%;
    }

    .title-wrap {
      margin-bottom: 35px;
    }
  }
}

@include media ($web-sm) {
  .cart-list-page {}
}

@include media ($tab-lg) {
  .cart-list-page {
    .cart-tbl-head {
      display: none;
    }

    .cart-tbl {
      .cell {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
      }

      .cell:nth-child(1) {
        width: 100%;
        padding-right: 15px;
      }

      .cell:nth-child(2) {
        width: 100%;
      }

      .cell:nth-child(3) {
        width: 100%;
      }
    }

    .cart-tbl-tail {
      padding: 24px 0;
    }
  }
}

@include media ($tab) {
  .cart-list-page {
    padding-left: 20px;
    padding-right: 20px;

    .inner {
      width: 100%;
    }

    .cart-tbl-tail .right-txt {
      font-size: 20px;
      letter-spacing: -0.2px;
    }
  }
}

@include media ($mobile) {
  .cart-list-page {
    padding: 20px 0 90px;

    .title-wrap {
      margin-bottom: 30px;
      padding: 0 20px;
    }

    .ment-box {
      width: calc(100% - 40px);
      margin: 0 auto;
      margin-bottom: 30px;
    }

    .cart-tbl {
      .cell:nth-child(1) {
        padding-right: 0;
      }
    }

    .cart-tbl-tail {
      padding: 20px;
    }

    .apply-btn {
      max-width: calc(100% - 40px);
    }
  }
}