.com-history-page {
  position: relative;

  .subpage-head {
    @include subpage-head-short;
    
    margin-bottom: rem(45);
  }

  .subpage-container>.inner {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }
}

.comh-panel-nav {
  position: sticky;
  top: rem(218);
  z-index: 1000;
  margin-bottom: rem(114);
  margin-left: rem(40);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  button {
    @include button-reset;

    border: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    background-color: transparent;
    margin-bottom: rem(20);
    color: #D3D3D3;
    transition: all 0.3s;

    b {
      font-size: rem(23);
      font-weight: 700;
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;
    }

    span {
      font-size: rem(17);
      font-weight: 300;
    }
  }

  button.active {
    color: #000;
  }

  button:first-child {}
}

.comh-panel {
  min-height: calc(100vh - rem(200));

  .year-ttl {
    width: 100%;
    font-size: rem(80);
    font-weight: 700;
    text-align: center;
    margin-bottom: rem(30);

    background: linear-gradient(99deg, #1499CA 44.52%, #FFCF26 56%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .content {
    display: flex;
    position: relative;
    height: 100%;

    .line {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 4px;
      height: 76%;
      background: #d9d9d9;

      span {
        width: 100%;
        background-color: #1499CA;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s;
      }
    }
  }

  .img-section {
    width: 50%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: rem(200);

    .box {
      position: absolute;
    }

    .card {
      margin-top: 50px;

      &:first-child {
        margin-top: 0;
      }
    }

    .card-img {
      width: 100%;
      border-radius: 20px;
      vertical-align: bottom;
    }

    .temp-img {
      width: 500px;
      height: 300px;
    }
  }

  .text-section {
    width: 50%;
    padding-left: rem(124);

    .text {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 15px;
    }
  }
}

.comh-panel-inner {
  width: 100%;
  height: 100%;
}

.comh-even-panel {
  .img-section {
    justify-content: flex-start;
    padding-right: 0;
    padding-left: rem(240);
  }

  .text-section {
    padding-right: rem(124);
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
  }

  .text-section .box {
    width: 100%;
    max-width: rem(534);
  }
}