.com-map-page {
  .subpage-head {
    @include subpage-head-short;

    margin-bottom: rem(44);
  }

  .section .inner {
    max-width: 1330px;
    margin: 0 auto;
    width: 90%;
  }
}

.comm-sect-1st {
  text-align: center;
}

.comm-map-img {
  width: 100%;
  max-width: 1486px;
  vertical-align: bottom;
}

.comm-sect-2nd {
  padding: rem(180) 0;
}

.comm-list-grp {
  width: 100%;
}

.comm-list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: rem(54) 0;
  border-bottom: 1px solid #000;

  &:last-child {
    border-bottom: 0;
  }

  .information-wrap {
    width: 100%;
    padding-right: rem(39);

    .text {
      font-size: 20px;
      margin-bottom: rem(30);
      line-height: 1.5;
    }
  }

  .hd-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: rem(55);

    .label {
      font-size: 23px;
      font-weight: 500;
    }

    span {
      display: inline-flex;
      line-height: 20px;
      border-right: 1px solid #000;
      padding-right: 10px;
      margin-right: 5px;

      &:last-child {
        border-right: 0;
      }
    }

    .label-text {
      color: #1499CA;
    }

    .detail-btn {
      @include button-reset;

      margin-left: auto;
      font-size: 20px;
      color: #979797;
      font-weight: 500;
    }
  }

  .map-area {
    background-color: #767676;
    height: 226px;
    max-width: 823px;
    width: 100%;
    flex-shrink: 0;
  }
}