.com-character-page {
  .subpage-head {
    @include subpage-head-short;

    margin-bottom: rem(108);
  }
}

.comcrt-full-img {
  display: block;
  max-width: 1920px;
  width: 100%;
  vertical-align: bottom;
  margin: 0 auto;
}

.comcrt-sect-2nd {
  padding: rem(210) 0;

  .inner {
    width: 90%;
    max-width: 1453px;
    margin: 0 auto;
  }
}

.comcrt-img-text-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  .img {
    width: 100%;
    max-width: rem(802);
  }

  .text-wrap {
    color: #606060;
    font-size: rem(25);
    font-weight: 400;
    margin-left: -(rem(75));
    word-break: keep-all;

    .text {
      line-height: 1.5;
      margin-bottom: 30px;
    }
  }
}

.comcrt-sect-3rd {
  padding: rem(150) 0 rem(120);

  .inner {
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
  }
}

.gig-comcrt {
  width: 100%;
  column-gap: rem(55);
  row-gap: rem(222);

  .grid-item {
    @include grid-item-width(calc((100% - rem(110)) / 3));
  }
}

.comcrt-card {
  position: relative;
  width: 100%;
  height: 672px;
  border-radius: 21px;
  padding: rem(344) rem(47) rem(32);

  &.dodo {
    background-color: #FFFEE5;
  }

  &.mum {
    background-color: #EBF7F5;
  }

  &.hollymolly {
    background-color: #F5F5F5;
  }

  &.teach {
    background-color: #FFF2F9;
  }

  &.bbuyo {
    background-color: #F3F5FF;
  }

  &.bboyo {
    background-color: #F6F3FF;
  }
}

.comcrt-card-img {
  position: absolute;

  &:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    display: inline-block;
  }

  img {
    width: 100%;
    position: relative;
  }

  .comcrt-card.dodo & {
    width: calc-width(362, 403);
    top: -140px;
    right: 0;

    &:before {
      background-color: #F8F7D5;
      top: auto;
      bottom: -15px;
      right: 20px;
      width: 325px;
      height: 111px;
    }
  }

  .comcrt-card.mum & {
    width: calc-width(396, 403);
    top: -90px;
    left: 50%;
    transform: translateX(-50%);

    &:before {
      background-color: #D4E9E4;
      left: 50%;
      transform: translateX(-50%);
      bottom: -10px;
      width: 285px;
      height: 97px;
    }
  }

  .comcrt-card.hollymolly & {
    width: calc-width(459, 403);
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
  }

  .comcrt-card.teach & {
    width: calc-width(385, 403);
    top: -100px;
    left: 0;

    &:before {
      background-color: #fbdaea;
      right: 0;
      bottom: 48px;
      width: 285px;
      height: 97px;
    }
  }

  .comcrt-card.bbuyo & {
    width: calc-width(290, 403);
    top: -105px;
    left: 50%;
    transform: translateX(-50%);

    &:before {
      background-color: #DFE3F6;
      right: 0;
      bottom: -15px;
      width: 285px;
      height: 97px;
    }
  }

  .comcrt-card.bboyo & {
    width: calc-width(324, 403);
    top: -120px;
    left: 50%;
    transform: translateX(-50%);

    &:before {
      background-color: #E9E4F6;
      right: 0;
      bottom: -50px;
      left: 50px;
      width: 181px;
      height: 79px;
    }
  }
}

.comcrt-profile-wrap {
  text-align: left;
  height: 288px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  .name {
    text-align: center;
    font-size: rem(40);
    margin-bottom: rem(25);
    font-weight: 800;
  }

  .desc {
    font-size: 15px;
    font-weight: 500;
    word-break: keep-all;
    line-height: 1.5;
  }

  .favorite {
    width: 100%;
    font-size: 15px;

    .bold-text {
      font-weight: 600;
      margin-bottom: 7px;
    }

    span {
      font-weight: 400;
      width: 100%;
      display: inline-block;
      color: #949494;
    }
  }
}

.comcrt-sect-5th {
  width: 100%;
  padding-top: rem(100);

  .ttl {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: rem(70);
  }
}