.com-certificate-page {
  padding-bottom: 200px;
  
  .subpage-head {
    padding-top: rem(298);
    align-items: center;
    height: auto;
    flex-direction: column;
    margin-bottom: rem(86);

    .rbtn-list-grp {
      margin-bottom: rem(75);
    }
  }

  .grid-item-grp {
    width: 100%;
    position: relative;
    display: none;
    margin: 0 auto;

    .grid-item {
      position: relative;
      align-items: center;
      justify-content: center;
      display: flex;

      img {
        width: 100%;
        vertical-align: bottom;
      }
    }
  }

  .grid-item-grp.active {
    display: flex;
    animation: showContent 0.5s;
  }
}

.gig-certi-papers {
  padding-top: rem(130);
  max-width: 1330px;
  column-gap: rem(94);
  row-gap: 15px;

  .grid-item {
    @include grid-item-width(calc((100% - rem(282)) / 4));
  }

  .grid-item:nth-child(2n-1) {
    position: relative;
    margin-top: -(rem(130));
  }
}

.gig-irp-papers {
  max-width: 1190px;
  column-gap: rem(203);
  row-gap: 15px;

  .grid-item {
    @include grid-item-width(calc((100% - rem(406)) / 3));
  }
}

.gig-certi-trophys {
  max-width: 1320px;
  column-gap: rem(136);
  row-gap: 15px;

  .grid-item {
    @include grid-item-width(calc((100% - rem(272)) / 3));
  }
}