@import "../utility/variable";
@import "../utility/function";
@import "../utility/mixin";

.components-page {
  padding: max(80rem, 30px) 0;

  .page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

  .component-item {
    width: 100%;

    h2 {
      font-size: max(24rem, 16px);
      font-weight: 700;
      margin-bottom: 15px;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
    }
  }

  .class-card {
    width: 100%;
    max-width: 390px;
  }

  .class-thumbnail-card {
    width: 100%;
    max-width: 597px;
  }
}

// 제목
.title-wrap {
  width: 100%;
  text-align: left;

  .title {
    font-size: max(42rem, 28px);
    letter-spacing: -0.42px;
    color: #0F1A2A;
    font-weight: 700;
    line-height: 1.4;
  }

  .title-sm {
    font-size: max(32rem, 24px);
    letter-spacing: -0.32px;
    color: #0F1A2A;
    font-weight: 700;
    line-height: 1.4;
  }
}

// 버튼
@mixin btn-effect01 {
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
    transition: all 0s;
  }
}

.dark-rounded-btn {
  @include btn-reset;

  background-color: #0F1A2A;
  height: 62px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: white;
  gap: max(12rem, 8px);
  padding: 0 24px;
  padding-left: 28px;
  border-radius: 50px;

  @include btn-effect01;
}

.btn {
  @include btn-reset;
}

.blue-solid-btn {
  @include btn-reset;

  background-color: #2563EB;
  border-radius: 8px;
  color: white;
  padding: 0 16px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.14px;
  transition: all 0.3s;

  &:active {
    background-color: #7EA5F8;
    transition: all 0s;
  }

  &.btn-lg {
    height: 48px;
    font-size: 16px;
    letter-spacing: -0.16px;
  }
}

.gray-01-bd-btn {
  @include btn-reset;

  background-color: #fff;
  border-radius: 8px;
  color: #0F1A2A;
  padding: 0 16px;
  font-size: 12px;
  height: 34px;
  font-weight: 500;
  letter-spacing: -0.12px;
  border: 1px solid #CBD4E1;

  &.btn-md {
    height: 40px;
    font-size: 14px;
    letter-spacing: -0.14px;
  }
}

.gray-02-bd-btn {
  @include btn-reset;

  background-color: #fff;
  border-radius: 8px;
  color: #64748B;
  padding: 0 16px;
  font-size: 16px;
  height: 44px;
  font-weight: 500;
  letter-spacing: -0.16px;
  border: 1px solid #CBD4E1;
}

.chatbot-btn {
  @include btn-reset;

  background-color: white;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #CBD4E1;
  box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.10);
}

.sort-btn-grp {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

.sort-btn {
  @include btn-reset;

  background-color: white;
  height: 36px;
  padding: 0 12px;
  border-radius: 50px;
  border: 1px solid #CBD4E1;
  color: #64748B;
  font-size: 16px;
  letter-spacing: -0.16px;
  font-weight: 400;

  @include btn-effect01;
}

.sort-btn.active {
  background-color: #2563EB;
  color: white;
  border-color: #2563EB;
}

.list-sns-btn {
  @include btn-reset;

  gap: max(8rem, 5px);
  height: 46px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.16px;
  padding: 0 35px;

  @include btn-effect01;

  .txt {
    color: inherit;
  }

  &.type-kakao {
    color: #0F1A2A;
    background-color: #FEE500;
  }

  &.type-naver {
    color: white;
    background-color: #03C75A;
  }

  &.type-google {
    color: #27364B;
    background-color: #F6F8FC;
  }
}

.sns-btn {
  @include btn-reset;

  width: 46px;
  height: 46px;
  border-radius: 8px;

  @include btn-effect01;

  &.type-kakao {
    color: #0F1A2A;
    background-color: #FEE500;
  }

  &.type-naver {
    color: white;
    background-color: #03C75A;
  }

  &.type-google {
    color: #27364B;
    background-color: #F6F8FC;
  }
}

.toggle-btn {
  .ico-wrap {
    position: relative;
  }

  .ico {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }

  .ico-on {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}

.toggle-btn.active {
  .ico-on {
    opacity: 1;
  }

  .ico-off {
    opacity: 0;
  }
}

.toggle-like-btn {
  .ico-wrap {
    width: 24px;
    height: 24px;
  }
}

.toggle-eyes-btn {
  .ico-wrap {
    width: 20px;
    height: 20px;
  }
}

.btn-w100 {
  width: 100%;
}

.tabs {
  .tab {
    @include btn-reset;

    height: 50px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.14px;
    border-bottom: 2px solid transparent;
  }

  .tab.active {
    border-bottom: 2px solid #2563EB;
  }
}

.txt-arrow-btn {
  @include btn-reset;

  color: #64748B;
  gap: 2px;
  font-size: 12px;
  letter-spacing: -0.12px;
}

.bd-circle-btn {
  @include btn-reset;

  background-color: white;
  border: 1px solid #CBD4E1;
  width: 56px;
  height: 56px;
  border-radius: 50px;

  @include btn-effect01;

  .ico {
    pointer-events: none;
  }
}

// 아이콘
.ico {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.ico-12 {
  width: 12px;
  height: 12px;
}

.ico-14 {
  width: 14px;
  height: 14px;
}

.ico-18 {
  width: 18px;
  height: 18px;
}

.ico-28 {
  width: 28px;
  height: 28px;
}

.ico-38 {
  width: 38px;
  height: 38px;
}

// 카드들
.card-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  li {
    width: 100%;
  }

  .card-name {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: #27364B;
  }

  .gray-txt {
    color: #64748B;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }

  .sub-txt {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.12px;
  }

  .sub-txt.blue-txt {
    color: #2563EB;
  }

  .sm-gray-txt {
    color: #94A3B8;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.14px;
  }

  .info-wrap {
    width: 100%;

    .info-dl {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 12px;
      color: #94A3B8;
      font-weight: 400;
      letter-spacing: -0.12px;
    }

    .info-dl .dd {
      margin-left: auto;
    }

    .bold-txt {
      font-weight: 600;
      font-size: 14px;
      color: #27364b;
    }
  }

  .progress-wrap {
    width: 100%;

    .progress {
      margin-bottom: 4px;
    }

    .gray-txt {
      color: #94A3B8;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: -0.12px;
    }
  }

  .price-wrap {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .left-price-txt {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      gap: 7px;
    }

    .bold-txt {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.3px;
      color: #27364b;
    }

    .right-txt {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.18px;
    }
  }
}

.class-card {
  .thumbnail {
    padding-top: 56.5%;
    border-radius: 8px;
    margin-bottom: 18px;
  }

  .thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.class-thumbnail-card {
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
    transition: all 0s;
  }

  .thumbnail {
    padding-top: 52.8%;
    border-radius: 40px;

    &:after {
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0.4;
    }
  }

  .card-content {
    position: absolute;
    bottom: 46px;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 46px;
  }

  .toggle-btn {
    position: absolute;
    top: 36px;
    right: 46px;
    z-index: 1;
  }

  .toggle-btn .ico-wrap {
    width: 50px;
    height: 50px;
  }

  .thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .card-name {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.32px;
    line-height: 1.3;
    color: white;
    width: 100%;
  }

  .desc {
    color: white;
    font-size: 20px;
    letter-spacing: -0.2px;
    width: 100%;
    line-height: 1.3;
  }
}

.list-card.type-01 {
  width: 100%;
  border: 1px solid #E2E8F0;
  padding: 18px 24px;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;

  .mg-left {
    flex-shrink: 0;
  }

  .mg-left .ttl {
    color: #94A3B8;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.12px;
    line-height: 1.6;
    text-align: right;
    margin-bottom: 2px;
  }

  .price-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    .bold-txt {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.18px;
    }
  }
}

.review-card {
  .thumbnail {
    width: 50px;
    height: 50px;
  }
}

.review-card.type-01 {
  .thumbnail {
    width: max(100rem, 80px);
    height: max(100rem, 80px);
  }

  .user-item {
    .sub-txt {
      font-size: max(20rem, 18px);
      font-weight: 600;
    }


    .card-name {
      font-size: max(32rem, 20px);
      font-weight: 700;
    }
  }
}

.review-card.type-02 {
  .user-item {
    .sub-txt {
      font-size: 12px;
    }

    .card-name {
      font-size: 16px;
    }
  }
}

.alarm-card {
  .user-item {
    .sub-txt {
      font-size: 12px;
    }

    .card-txt {
      font-size: 14px;
      font-weight: 500;
      color: #27364b;
    }
  }

  .thumbnail {
    width: 60px;
    height: 60px;
  }

}

.user-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;
}