.contact-qna-write-page {
  padding-bottom: rem(120);

  .section {
    padding: rem(120) 0;
  }

  .section .inner {
    max-width: 1320px;
    margin: 0 auto;
    width: 90%;
  }

  .conq-ttl {
    font-weight: 700;
    font-size: rem(50);
    text-align: center;
    margin-bottom: rem(140);
  }
}

.conq-write-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: rem(72);
  margin-bottom: rem(120);

  .write-item {
    flex: 1 1 100%;
    width: 100%;
  }

  .write-item-col {
    flex: 1 1 50%;
    width: 50%;
    padding-right: rem(150);
  }
}

.write-item {
  .label {
    font-weight: 500;
    font-size: rem(28);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 21px;
  }

  .blue-dot {
    color: #1499CA;
  }

  textarea.inp {
    height: 285px;
  }
}