.main-page {
  width: 100%;

  .section {
    width: 100%;
    padding: 110px 0;
    overflow: hidden;
  }

  .main-section {
    padding: 207px 0;
  }
}

.main-section {
  width: 100%;
  background-image: url(../images/img-bg-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-title-wrap {
    .sub-txt {
      margin-bottom: 12px;
    }

    .dark-rounded-btn {
      margin-top: 45px;
    }
  }

  .img-figure {
    flex-shrink: 0;
    width: 100%;
    max-width: 510px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -117px;
  }
}

.mteacher-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  .bg-skyblue-box {
    flex: 1;
    height: 442px;
  }

  .bg-skyblue-box.type-left {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  .profile-box {
    max-width: 1218px;
    flex-shrink: 0;
  }

  .bg-skyblue-box.type-right {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
}

.mpoint-section {
  background-color: #F1F4F9;

  .main-title-wrap {
    margin-bottom: 55px;
  }

  .card-grp {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    position: relative;

    .num-white-card {
      flex: 1;
    }
  }

  .img-ele {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .img-ele.type-01 {
    top: -16px;
    right: -141px;
    left: auto;
    width: 74px;
  }

  .img-ele.type-02 {
    left: -190px;
    top: -6px;
    width: 96px;
  }

  .img-ele.type-03 {
    left: auto;
    bottom: -45px;
    width: 86px;
    top: auto;
    right: -55px;
  }
}

.mclass-section {
  .main-title-wrap {
    width: 80%;
    max-width: 1218px;
    margin: 0 auto;
    margin-bottom: 55px;
  }

  .swiper-slide {
    width: 80%;
  }

  .card-grp {
    gap: 24px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .custom-swiper-pagination {
    margin-top: 55px;
  }
}

.mreview-section {
  background-color: #F1F4F9;

  .section-title-wrap {
    width: 80%;
    max-width: 1218px;
    margin: 0 auto;
    margin-bottom: 55px;
  }

  .main-title-wrap {
    margin-bottom: 42px;
  }

  .swiper-slide {
    width: 80%;
  }

  .card-grp {
    gap: 24px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .custom-swiper-pagination {
    margin-top: 55px;
  }
}

@include media ($web-lg) {
  .main-page {
    .main-section {
      padding: 180px 0;
    }

    .main-title-wrap {
      .dark-rounded-btn {
        margin-top: 35px;
      }
    }
  }

  .main-section {
    .img-figure {
      max-width: 480px;
      right: 0;
    }
  }

  .mpoint-section {
    .img-ele.type-01 {
      right: -40px;
    }

    .img-ele.type-02 {
      left: 0;
      top: -50px;
      left: -70px;
    }
  }
}

@include media ($web-sm) {
  .main-section {
    .img-figure {
      max-width: 390px;
    }
  }

  .mteacher-section {
    .bg-skyblue-box {
      height: 390px;
    }
  }

  .mreview-section {
    .main-title-wrap {
      margin-bottom: 30px;
    }
  }
}

@include media ($tab-lg) {
  .main-page {
    .section {
      padding: 90px 0;
    }

    .main-section {
      padding: 70px 0;
    }
  }

  .main-section {
    .img-figure {
      max-width: 300px;
      position: relative;
      top: 0;
      right: 0;
      transform: none;
    }

    .inner {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .main-title-wrap.type-col {
      margin-bottom: 60px;
    }
  }
}

@include media ($tab) {
  .mteacher-section {
    .bg-skyblue-box {
      display: none;
    }

    .profile-box {
      flex-direction: column;
      align-items: center;
    }
  }

  .mpoint-section {
    .card-grp {
      flex-direction: column;
    }
  }

  .mclass-section {
    .main-title-wrap .btn-wrap {
      display: none;
    }

    .content.mb-none {
      display: none;
    }

    .content.mb-show {
      display: block;
    }

    .col-list-grp {
      max-width: 1010px;
      width: 80%;
      margin: 0 auto;
      gap: 12px;
    }
  }

  .mreview-section {
    .main-title-wrap .btn-wrap {
      display: none;
    }

    .content.mb-none {
      display: none;
    }

    .content.mb-show {
      display: block;
    }

    .col-list-grp {
      max-width: 1010px;
      width: 80%;
      margin: 0 auto;
      gap: 12px;
    }
  }
}

@include media ($mobile) {
  .main-page {
    .inner {
      width: 100%;
      padding: 0 20px;
    }

    .main-title-wrap {
      .dark-rounded-btn {
        margin-top: 22px;
      }
    }

    .section {
      padding: 0;
    }

    .main-section {
      padding: 50px 0 70px;
    }

    .mteacher-section {
      padding: 24px 20px;
    }

    .mpoint-section {
      padding: 40px 0;
    }

    .mclass-section {
      padding: 40px 20px;
    }

    .mreview-section {
      padding: 34px 20px;
    }
  }

  .main-section {
    background-image: url(../images/img-bg-top-mobile.png);

    .img-figure {
      max-width: 210px;
    }
  }

  .mteacher-section {
    .profile-box {
      width: 100%;
    }
  }

  .mpoint-section {
    .main-title-wrap {
      margin-bottom: 30px;
    }

    .img-ele.type-01 {
      right: 28px;
      width: 37px;
      top: -6px;
    }

    .img-ele.type-02 {
      left: -10px;
      width: 48px;
      top: 220px;
    }

    .img-ele.type-03 {
      bottom: -15px;
      right: -5px;
      width: 42px;
    }
  }

  .mclass-section {
    .main-title-wrap {
      width: 100%;
      margin-bottom: 42px;
    }

    .col-list-grp {
      width: 100%;
    }
  }

  .mreview-section {
    .section-title-wrap {
      width: 100%;
      margin-bottom: 42px;
    }

    .main-title-wrap {
      margin-bottom: 20px;
    }

    .col-list-grp {
      width: 100%;
    }
  }
}