.media-news-detail-page {
  padding: rem(286) 0 rem(150);

  .section .inner {
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
  }
}

.mnd-ttl-wrap {
  width: 100%;

  .ttl-wrap {
    width: 100%;
    border-bottom: 1px solid #acacac;
    margin-bottom: rem(150);
    padding-bottom: 15px;

    .ttl {
      font-size: rem(62);
      font-weight: 700;
      margin-bottom: rem(68);
    }

    .date {
      font-size: 16px;
      font-weight: 600;
      color: #a1a1a1;
    }
  }

  .sub-ttl-wrap {
    border-left: 7px solid #000;
    padding-left: 20px;
    margin-bottom: rem(70);

    .sub-ttl {
      font-size: rem(30);
      font-weight: 500;
      line-height: 1.3;
    }
  }
}

.mnd-text-wrap {
  padding: rem(128) rem(170);

  .text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    word-break: keep-all;
  }
}