.myc-view-page {
  width: 100%;
  height: 100vh;
  min-height: 700px;

  .page-container {
    height: 100%;
  }
}

.myc-view-layout-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  .myc-view-left-container {
    width: 100%;
  }

  .myc-view-right-container {
    width: 100%;
    max-width: 351px;
    flex-shrink: 0;
    border-left: 1px solid #bfc7d3;
    background-color: white;
  }
}

.myc-view-left-container {
  background-color: #F6F8FC;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .myc-view-header {
    background-color: white;
    border-bottom: 1px solid #bfc7d3;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 40px;
    gap: 12px;
    width: 100%;

    .ttl-wrap {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
    }

    .ttl-wrap .ttl {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.18px;
      line-height: 1.4;
      color: #27364B;
    }

    .ttl-wrap .desc {
      font-size: 12px;
      color: white;
      letter-spacing: -0.12px;
      margin-top: 3px;
    }

    .blue-txt {
      color: #2563EB;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: -0.12px;
    }
  }

  .myc-view-content-container {
    padding: 28px 40px;
    flex: 1;
    overflow: auto;
    width: 100%;
  }

  .video-wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 1490px;
    padding-top: 56.24%;
    position: relative;
    background-color: #eaeaea;

    @media all and (min-width: 1920px) {
      padding-top: 0;
      height: 837px;
    }

    .video-box {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }

  .myc-view-bottom-container {
    width: 100%;
  }

  .view-controller {
    width: 100%;
    background-color: #0F1A2A;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }
}

.ctrl-btn {
  color: white;
  font-size: 16px;
  gap: 7px;
  font-weight: 600;
  letter-spacing: -0.16px;
  line-height: 1.5;
  padding: 0 24px;
  margin: 0 40px;

  &:first-child:before {
    display: none;
  }

  &:before {
    content: '';
    width: 1px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: -40px;
    display: inline-block;
    background-color: #27364B;
    transform: translateY(-50%);
  }
}

.myc-view-right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .curriculum-box {
    border: 0;
    border-radius: 0;
    width: 100%;

    .box-top {
      border-bottom: 0;
    }

    .close-btn {
      position: absolute;
      top: 18px;
      right: 20px;
      opacity: 0;
      pointer-events: none;
    }
  }

  .myc-view-right-content {
    flex: 1;
    width: 100%;
    overflow: auto;
    padding: 24px;

    .accordion-card {
      border: 1px solid #CBD4E1;
    }

    .list-chapter-card {
      padding: 16px;
    }
  }
}

@include media ($tab-lg) {
  .myc-view-layout-container {
    .myc-view-right-container {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      z-index: 10;
      transition: all 0.3s;
      opacity: 0;
    }

    .myc-view-right-container.active {
      right: 0;
      opacity: 1;
    }
  }

  .myc-view-left-container {
    .myc-view-header {
      position: fixed;
      top: 0;
      left: 0;
      background-color: transparent;
      background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
      border-bottom: 0;
      height: 73px;

      .ttl-wrap .ttl {
        color: white;
      }

      .mb-show {
        display: block;
      }

      .mb-none {
        display: none;
      }
    }

    .myc-view-content-container {
      padding: 0;
    }
  }

  .myc-view-right-container {
    .curriculum-box .close-btn {
      opacity: 1;
      pointer-events: visible;
    }
  }
}

@include media ($mobile) {
  .myc-view-page {
    min-height: 500px;
  }

  .myc-view-page~.chatbot-btn-wrapper {
    display: none;
  }

  .myc-view-left-container {
    .view-controller {
      height: 54px;

      .ctrl-btn {
        font-size: 14px;
        padding: 0 10px;
        margin: 0 10px;
      }
    }

    .myc-view-header {
      padding: 0 20px;

      .ttl-wrap .ttl {
        font-size: 14px;
        letter-spacing: -0.14px;
      }
    }
  }

  .myc-view-right-container {
    .curriculum-box .box-top {
      padding: 8px 24px;
      padding-top: 20px;
    }

    .box-top .ttl {
      font-size: 14px;
      letter-spacing: -0.14px;
    }

    .curriculum-box .close-btn {
      top: 16px;
    }

    .curriculum-box .ico-paper {
      width: 16px;
      height: 16px;
    }

    .myc-view-right-content {
      padding: 12px 24px;
    }
  }
}