.myc-alarm-page {
  .desc-btn-box {
    margin-bottom: 20px;
  }

  .ment-box {
    margin-bottom: 20px;
    padding: 12px 24px;

    .color-txt {
      color: #2563EB;
      font-weight: 600;
    }
  }

  .myc-alarm-col-grp {
    gap: 8px;
  }

  .col-list-btn-wrap {
    .more-btn {
      margin-top: 20px;
    }
  }

  .nothing-wrap {
    padding: 30px 0;
  }
}

.desc-btn-box {
  padding: 24px;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;

  .btn {
    margin-left: auto;
  }

  .desc {
    word-break: keep-all;
    color: #64748B;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.12px;
  }
}

@include media ($tab) {
  .myc-alarm-page {
    .page-content {
      padding: 20px;
    }

    .myc-alarm-col-grp {
      gap: 12px;
    }

    .desc-btn-box {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .mg-left {
        margin-left: 0;
      }
    }
  }
}

@include media ($tab-sm) {
  .myc-alarm-page {
    .desc-btn-box {
      padding: 18px 10px;
    }
  }
}

@include media ($mobile) {
  .myc-alarm-page {
    .ment-box {
      padding: 12px 16px;
    }
  }
}

@include media (320px) {
  .myc-alarm-page {
    .ment-box {
      flex-direction: column;

      .btn-wrap {
        margin-left: auto;
      }
    }
  }
}