.myc-setting-page {
  .myc-setting-box {
    padding: 30px 24px;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    .form-item-grp {
      margin-bottom: 30px;
    }
  }

  .edit-thumbnail-wrap {
    margin: 0 auto;
  }

  .gray-bd-box {
    max-width: 460px;
    width: 100%;
  }

  .myc-desc-box {
    padding: 36px 24px;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    .ttl-wrap {
      margin-bottom: 30px;

      .ttl {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.16px;
        color: #0F1A2A;
        line-height: 1.5;
        margin-bottom: 23px;
      }

      .desc {
        color: #64748B;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.14px;
        line-height: 1.5;
        word-break: keep-all;
      }
    }

    .btn-grp-wrap {
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: stretch;
      gap: 12px;
    }

    .btn-grp-wrap .double-btn-grp {
      width: 100%;
    }
  }
}

.double-btn-grp {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}

@include media ($tab) {
  .myc-setting-page {
    .page-content {
      padding: 20px;
    }

    .gray-bd-box {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include media ($mobile) {
  .myc-setting-page {
    .myc-setting-box {
      padding: 24px 16px;
    }

    .myc-desc-box {
      padding: 24px 16px;

      .ttl-wrap .desc {
        font-size: 12px;
      }

      .btn-grp-wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        min-width: 170px;
        margin: 0 auto;
        width: max-content;
      }
    }
  }
}