.myc-class-page {
  .status-box {
    margin-bottom: 20px;
  }

  .sort-inp-container {
    margin-bottom: 20px;
  }

  .myc-class-col-grp {
    gap: 12px;
  }

  .nothing-wrap {
    padding: 30px 0;
  }

  .pagination {
    margin-top: 80px;
  }
}

@include media ($tab) {
  .myc-class-page {
    .sort-inp-container {
      padding: 0 20px;
    }

    .myc-class-col-grp {
      padding: 0 20px;
    }
  }
}

@include media ($mobile) {
  .myc-class-page {
    .pagination {
      margin-top: 60px;
    }
  }
}