.myc-layout-container {
  width: 90%;
  max-width: 1218px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;

  .myc-left-container {
    padding: 20px 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 286px;
    position: sticky;
    top: 60px;
    background-color: white;
    z-index: 1;
  }

  .myc-right-container {
    width: 100%;
  }
}

.myc-left-container {
  .user-card {
    width: 100%;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .myc-nav-btn-grp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .myc-nav-btn {
    @include btn-reset;

    padding: 14px 20px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    color: #64748B;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.16px;
    transition: all 0.3s;
    border-radius: 8px;

    &:hover {
      background-color: #F6F8FC;
    }

    &:active {
      background-color: #f2f4f8;
      transition: all 0s;
    }
  }

  .myc-nav-btn.active {
    font-weight: 700;
    color: #2563EB;
  }
}

.myc-right-container {
  padding-top: 50px;
  padding-bottom: 150px;

  .title-wrap {
    margin-bottom: 32px;
  }
}

@include media ($web) {
  .myc-left-container {
    .myc-nav-btn {
      font-size: 14px;
    }
  }
}

@include media ($web-sm) {
  .myc-layout-container {
    .myc-left-container {
      max-width: 250px;
    }
  }

  .myc-left-container {
    .user-card {
      max-width: 100%;
    }
  }
}

@include media ($tab) {
  .myc-layout-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
    gap: 0;

    .myc-nav-btn-grp {
      flex-direction: row;
      gap: 0;
      padding: 6.5px 20px;
      border-bottom: 1px solid #E2E8F0;
      overflow: auto;
      width: 100%;
    }

    .myc-nav-btn {
      display: inline-flex;
      width: auto;
      padding: 6px;
      flex-shrink: 0;
    }

    .myc-left-container {
      max-width: 100%;
      width: 100%;
      padding: 0;
      top: 52px;
    }
  }

  .myc-left-container {
    .user-card {
      display: none;
    }
  }

  .myc-right-container {
    padding-top: 0;
    padding-bottom: 70px;

    .title-wrap {
      display: none;
    }
  }
}