.portfolio-list-page {
  padding-bottom: rem(200);
  
  .subpage-head {
    padding-top: rem(298);
    align-items: center;
    height: auto;
    flex-direction: column;
    margin-bottom: rem(86);

    .rbtn-list-grp {
      margin-bottom: rem(75);
    }
  }

  .grid-item-grp {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    gap: 20px;
    row-gap: rem(50);
    padding: 0 20px;
    display: none;
    position: relative;

    .grid-item {
      @include grid-item-width (calc((100% - 40px) / 3));
    }
  }

  .grid-item-grp.active {
    display: flex;
    animation: showContent 0.5s;
  }
}

.pfl-card {
  .thumbnail {
    width: 100%;
    padding-top: 57%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
  }

  .thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .ttl-desc-grp {
    padding: 15px 0;
    text-align: left;
  }

  .ttl {
    @include ellipse(1, rem(25));

    font-size: rem(25);
    font-weight: 700;
    margin-bottom: 10px;
  }

  .desc {
    @include ellipse(1, 15px);

    font-size: 15px;
    color: #797979;
  }
}