.technology-page {
  .section {
    padding: rem(135) 0;
  }

  .section .inner {
    max-width: 1427px;
    margin: 0 auto;
    width: 90%;
  }
}

.tech-sect-first-img {
  position: relative;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  padding-top: 44.56%;
  background-color: #eaeaea;
  margin-bottom: rem(40);

  .thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.tech-info-wrap {
  text-align: center;
  margin-bottom: rem(50);

  .tech-ttl {
    font-size: rem(60);
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 15px;
  }

  .tech-desc {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.9;
  }

  .icon-figure-list-grp {
    margin-top: rem(40);
  }
}

.icon-figure-list-grp {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: rem(120);
}

.icon-figure-list {
  @include grid-item-width(calc((100% - rem(360)) / 4));

  .icon-figure {
    height: 125px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 100%;
    }
  }

  .ttl-desc-grp {
    .ttl {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 13px;
    }

    .desc {
      display: inline-block;
      text-align: left;
      font-size: 14px;
      line-height: 1.4;
      font-weight: 400;
    }
  }
}

.tech-col-grp {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;

  .tech-col {
    @include grid-item-width(calc((100% - rem(40) / 3)));
  }
}

.tech-example-card {
  .figure {
    width: 100%;
    padding-top: 124.94%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    img {
      top: 0;
      left: 0;
      position: absolute;
    }
  }

  .text {
    display: inline-block;
    width: 100%;
    color: #606060;
    text-align: center;
    margin-top: 18px;
    font-size: 22px;
  }
}