.footer {
  width: 100%;
  background-color: #F8F8F8;

  .footer-inner {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
    padding: rem(92) 0;
  }

  .logo {
    width: rem(231);

    a {
      display: inline-block;
      width: 100%;
    }

    img {
      width: 100%;
    }
  }
}

.footer.none {
  display: none;
}

.footer-cont01 {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .fnav-list-grp {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: rem(80);
    margin-bottom: rem(40);
  }

  .fnav-list {
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }

  .bold-text {
    font-weight: 700;
  }

  .color-text {
    color: $color-text;
  }
}

.footer-cont02 {
  padding-left: rem(437);

  .info-copyright-wrap {
    color: #828282;
    font-size: 16px;
    text-align: left;
  }

  .info-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: rem(24);
  }
  
  .sns-info {
    margin-left: auto;
    text-align: center;
  }

  .sns-list {
    margin-bottom: rem(24);

    &:hover {
      font-weight: 700;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .sns-link {
    color: #000;
    font-size: 16px;
  }

  .company-info {
    .list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      line-height: 1.3;
    }

    .list-space {
      margin-top: 18px;
    }

    dt {
      width: 70px;
    }
  }
}