<ul class="nav-list-grp">
  <li class="nav-list">
    <a href="com-introduce.html" class="nav-link">
      <span>company</span>
    </a>

    <ul class="snb-list-grp">
      <li class="snb-list">
        <a href="com-introduce.html" class="snb-link">
          <span>회사소개</span>
        </a>
      </li>
      <li class="snb-list">
        <a href="com-business.html" class="snb-link">
          <span>사업영역</span>
        </a>
      </li>
      <li class="snb-list">
        <a href="com-history.html" class="snb-link">
          <span>연혁</span>
        </a>
      </li>
      <li class="snb-list">
        <a href="com-certificate.html" class="snb-link">
          <span>인증서</span>
        </a>
      </li>
      <li class="snb-list">
        <a href="com-ci.html" class="snb-link">
          <span>CI</span>
        </a>
      </li>
      <li class="snb-list">
        <a href="com-character.html" class="snb-link">
          <span>캐릭터</span>
        </a>
      </li>
      <li class="snb-list">
        <a href="com-map.html" class="snb-link">
          <span>오시는길</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-list">
    <a href="technology.html" class="nav-link">
      <span>technology</span>
    </a>

    <ul class="snb-list-grp">
      <li class="snb-list">
        <a href="technology.html" class="snb-link">
          <span>보유기술</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-list">
    <a href="portfolio-list.html" class="nav-link">
      <span>portfolio</span>
    </a>
  </li>

  <li class="nav-list">
    <a href="#" class="nav-link">
      <span>media center</span>
    </a>

    <ul class="snb-list-grp">
      <li class="snb-list">
        <a href="media-news-list.html" class="snb-link">
          <span>news</span>
        </a>
      </li>

      <li class="snb-list">
        <a href="media-sns.html" class="snb-link">
          <span>sns</span>
        </a>
      </li>

      <li class="snb-list">
        <a href="#" class="snb-link">
          <span>webzine</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-list">
    <a href="#" class="nav-link">
      <span>careers</span>
    </a>

    <ul class="snb-list-grp">
      <li class="snb-list">
        <a href="career-ideal.html" class="snb-link">
          <span>인재상</span>
        </a>
      </li>

      <li class="snb-list">
        <a href="career-recruit.html" class="snb-link">
          <span>채용공고</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-list">
    <a href="#" class="nav-link">
      <span>contact</span>
    </a>

    <ul class="snb-list-grp">
      <li class="snb-list">
        <a href="contact-qna.html" class="snb-link">
          <span>Q&A</span>
        </a>
      </li>

      <li class="snb-list">
        <a href="contact-qna-write.html" class="snb-link">
          <span>1:1문의</span>
        </a>
      </li>

      <li class="snb-list">
        <a href="contact-faq.html" class="snb-link">
          <span>faq</span>
        </a>
      </li>
    </ul>
  </li>
</ul>