<div class="pagination">
  <ul class="pgbtn-list-grp">
    <li class="pgbtn-list active">
      <a href="#" class="pgbtn-link">1</a>
    </li>
    <li class="pgbtn-list">
      <a href="#" class="pgbtn-link">2</a>
    </li>
    <li class="pgbtn-list">
      <a href="#" class="pgbtn-link">3</a>
    </li>
    <li class="pgbtn-list">
      <a href="#" class="pgbtn-link">4</a>
    </li>
    <li class="pgbtn-list">
      <a href="#" class="pgbtn-link">5</a>
    </li>
  </ul>
  <div class="pgbtn-ctrl-list-grp">
    <button type="button" class="pgbtn-ctrl-list">
      <img src="assets/images/icon/icon-pgbtn-next.png" alt="" class="icon-next">
    </button>
    <button type="button" class="pgbtn-ctrl-list">
      <img src="assets/images/icon/icon-pgbtn-nnext.png" alt=""" class="icon-nnext">
    </button>
  </div>
</div>