<div class="pagination">
  <button type="button" class="page-btn">
    <span class="txt-hidden">이전</span>
    <img src="" alt="이전 아이콘" class="ico ico-next-arrow">
  </button>

  <button type="button" class="page-btn">1</button>
  <button type="button" class="page-btn">2</button>

  <button type="button" class="page-btn">
    <span class="txt-hidden">더보기</span>
    <img src="" alt="더보기 아이콘" class="ico ico-dots">
  </button>

  <button type="button" class="page-btn">100</button>

  <button type="button" class="page-btn">
    <span class="txt-hidden">다음</span>
    <img src="" alt="다음 아이콘" class="ico ico-next-arrow">
  </button>
</div>