<div class="pagination">
  <button type="button" class="page-btn">
    <span class="txt-hidden">이전</span>
    <img src="assets/images/ico/ico-pagination-prev.svg" alt="이전 아이콘" class="ico ico-14 ico-next-arrow">
  </button>

  <button type="button" class="page-btn active">1</button>
  <button type="button" class="page-btn">2</button>

  <button type="button" class="page-btn">
    <span class="txt-hidden">더보기</span>
    <img src="assets/images/ico/ico-pagination-more.svg" alt="더보기 아이콘" class="ico ico-14 ico-dots">
  </button>

  <button type="button" class="page-btn">100</button>

  <button type="button" class="page-btn">
    <span class="txt-hidden">다음</span>
    <img src="assets/images/ico/ico-pagination-next.svg" alt="다음 아이콘" class="ico ico-14 ico-next-arrow">
  </button>
</div>